# Visual Studio Code
.vscode/

# Node.js
node_modules/
npm-debug.log

# Python
__pycache__/
*.pyc
venv/

# Variables de entorno
.env
.env.*

# Archivos del sistema
.DS_Store
Thumbs.db

# Compilaciones
dist/
build/

# Archivos temporales
*.log
*.tmp